html {
    font-size: 100%;
    font-family: Yekan;
}

body {
    padding-top: 2rem;
}

p {
    background-color: #cefca1;
    color: black;
    padding: 1.2rem;
    text-align: center;
}

header, section, aside, footer {
    margin: 0 1.5rem 2rem;

}

div {
display: inline-block;
}

section {
    width: 50%;
    float: left;
}

aside {
    width: 40%;
    float: right;

}


